@media (orientation: landscape) {
  .credit {
    background: rgba(40, 40, 40, 0.4);
    box-shadow: 9px 9px 25px #00000046;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 3vw;
  }
}