@media (orientation: portrait) {
  .bg {
    background-size: 200vw;
  }
  .logo img {
	  padding-top: 7vh;
    height: 12vh;
  }
  .largelinks {
	margin-top: 17vh;
	font-size: 3vh;
  }
  .links {
    margin-top: 90vh;
    margin-right: 24vw;
  }
  .newline {
    display:contents;
  }
  .links img {
    width: 12vw;
    padding-left: 5vw;
  }
  .info {
    margin-left: 3vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 4vw;
    border-radius: 10px;
    background: rgb(30,30,30)
  }
  .credit {
    margin-bottom: 30px;
    top: 0px;
    left: 0px;
    margin-top: 20vh;
    font-size: 2vh;
  }
  .box {
    font-size: 6vw;
    margin-left: 11.5vw;
    width: 72vw;
    height: 45vh;
	  border-radius: 5vh;
    margin-top: 13vh;
    line-height: 2.5;
  }
  .boxcontent {
    height: 45vh;
  }
  .presettemp {
    height: 5vh;
    padding-top: 3vh;
    padding-right: 1vw;
  }
  .presetrepo {
    height: 5vh;
  }
  .supportver {
	  border-radius: 5vh;
	  margin-left: 5vw;
    margin-right: 5vw;
  }
  .experimental {
    font-size: 5vw;
  }
  .badgealt {
    height: 4vw;
  }
  .supexp {
    padding-left: 13vw
  }
  .suplat {
    padding-left: 20.9vw
  }
  .badge {
    height: 5vw;
  }
  .showhidden {
    font-size: 6vw;
    left: 12vw;
  }
  .download {
    width: 6vw;
  }
  .supportver {
    font-size: 5vw;
  }
  .alphatag {
    font-size: 3vw
  }
  .download img {
    width: 40vw;
  }
}