* {
  overflow: hidden; /* Hide scrollbars */
}
a {
  cursor: pointer;
}

.row {
  display: flex;
}
.column {
  flex: 50%;
}

.checkboxes img {
  width: 3.7vh;
  height: 3.7vh;
}
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  src: url("Product-Sans-Regular.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: rgb(30, 30, 30);
  background-image: image("bg.png");
  background-repeat: repeat;
  background-size: cover;
  font-size: 36px;
  height: 100vh;
  color: white;
  font-family: 'Product Sans';
  text-align: center;
}
.content {
  padding-bottom: 3vh;
  display: inline-block;  
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.bg {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  padding-bottom: 2vh;
  background-image: url("bg.png");
  background-size: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}
.logo img {
  padding-top: 9vh;
  height: 18vh;
}
.largelinks {
  font-size: 4vh;
  text-align: right;
  right: 0px;
  left: 0px;
  top: 0px;
  padding-right: 2vh;
  margin-top: 1.6vh;
  padding-bottom: 1.6vh;
  margin-top: 5vh;
  font-family: 'Product Sans';
  position: absolute
}
.links {
  font-size: 1.6vh;
  text-align: right;
  right: 0px;
  left: 0px;
  top: 0px;
  padding-right: 2vh;
  margin-top: 26vh;
  padding-bottom: 1.6vh;
  position: absolute;
}
.links img {
  padding-top: 1vh;
  width: 4vw;
  height: auto;
}
.newline {
  display: block;
}
.box {
  position: absolute;
  text-align: left;
  margin-left: 40vw;
  height: auto;
  left: 0;
  right: 0;
  font-size: 1.6vw;
  line-height: 1.8;
  white-space: nowrap;
  
  background: rgb(55, 55, 55);
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 3vw;
  margin-left: 38vw;
  width: 20vw;
  height: 20vw;
  margin-top: 5vh;
}
.boxcontent {
  height: 20vw;
  overflow-y: scroll;
}
.experimental {
  font-size: 1.2vw;
}

.badgealt {
  height: 1.1vw;
  
}
.supexp {
  padding-left: 5.0vw
}
.suplat {
  padding-left: 7.2vw
}

.badge {
  height: 1.3vw;
}
.showhidden {
  position: relative;
  text-align: center;
  left: 5vw;
  font-size: 1.2vw;
}
.presettemp {
  height: 8vh;
  padding-top: 3vh;
  padding-right: 1vw;
}
.presetrepo {
  height: 8vh;
}
.supportver {
  padding-left: 0px;
  background: rgb(37, 37, 37);
  border-radius: 2vw;
  font-size: 1.45vw;
}
.alphatag {
  font-size: 1vw;
}
.info {
  color:rgb(192, 192, 192);
  font-size:20;
  cursor: help;
  font-family: 'Product Sans';
}
.hidden {
  display :none;
}
/* OLD DOWNLOAD
.download {
  background: -webkit-linear-gradient(rgb(255, 72, 0),rgb(193, 23, 184));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 4vh;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin-top:40vh
} */
.download {
  width: 1.6vw;
}
.download:hover {
  animation: filter-animation 2s infinite;
}
@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  
  100% {
    filter: hue-rotate(360deg);
  }
}
.download img {
  width: 12vw;
}
.credit {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-left: 2vh;
  padding-bottom: 3vh;
  font-size: 2vh;
  text-align: left;
  color: white;
}
.credit a {
  color: white;
}
.boxcontent a {
  color: white;
  text-decoration: none;
}
#pop_heading {
  font-family: 'Product Sans';
}
#pop_head_content {
  font-family: 'Product Sans';
}
.egg {
  cursor: url('egg.png'), auto;	
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  font-size: 3vh
}