@media (orientation: portrait) {
  .logo {
    background-size: 160vh;
  }
  .links {
    margin-top: 20vh;
  }
  .info {
    margin-left: 3vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 4vw;
    border-radius: 10px;
    background: rgb(30,30,30)
  }
  .credit {
    margin-bottom: 30px;
  }
  .box {
    margin-left: 11.5vw;
    width: 72vw;
    margin-top: 30vh;
  }
  .packs {
    margin-left: 17vw;
    font-size: 5vw;
  }
  .alphatag {
    font-size: 3vw
  }
  .download img {
    width: 40vw;
  }
}