* {
  overflow: hidden; /* Hide scrollbars */
}
a {
  cursor: pointer;
}
.checkboxes img {
  width: 3.7vh;
  height: 3.7vh;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYbw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v12/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: rgb(32, 32, 32);
  background-image: image("bg.png");
  background-repeat: repeat;
  background-size: cover;
  font-size: 36px;
  height: 100vh;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
.content {
  padding-bottom: 3vh;
  display: inline-block;  
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.logo {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  padding-bottom: 2vh;
  background-image: url("bg.png");
  background-size: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}
.logo img {
  height: 18vh;
}
.links {
  font-size: 2vh;
  text-align: right;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  padding-right: 2vh;
  margin-top: 1.6vh;
  padding-bottom: 1.6vh;
  margin-top: 5vh;
}
.packs {
  position: absolute;
  text-align: left;
  margin-left: 40vw;
  height: auto;
  left: 0;
  right: 0;
  font-size: 1.6vw;
  line-height: 1.8;
  white-space: nowrap;
  
  background: rgb(55, 55, 55);
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 60px;
  margin-left: 38vw;
  width: 20vw;
  margin-top: 35vh;
}
.badge {
  height: 1vw;
}
.showhidden {
  position: relative;
  text-align: center;
  left: 5vw;
  font-size: 1.2vw;
}
.supportver {
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(37, 37, 37);
  border-radius: 30px;
  font-size: 1.45vw;
}
.alphatag {
  font-size: 1vw;
}
.info {
  color:rgb(192, 192, 192);
  font-size:20;
  cursor: help;
  font-family: 'Roboto Mono', monospace;
}
.hidden {
  display :none;
}
/* OLD DOWNLOAD
.download {
  background: -webkit-linear-gradient(rgb(255, 72, 0),rgb(193, 23, 184));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 4vh;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin-top:40vh
} */
.download {
  margin-top: 40vh;
  width: 100%;
  cursor: pointer;
}
.download:hover {
  animation: filter-animation 2s infinite;
}
@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  
  100% {
    filter: hue-rotate(360deg);
  }
}
.download img {
  width: 12vw;
}
.credit {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-left: 2vh;
  padding-bottom: 2vh;
  font-size: 1.5vh;
  text-align: left;
  color: white;
}
.credit a {
  color: white;
}
.packs a {
  color: white;
  text-decoration: none;
}
#pop_heading {
  font-family: 'Roboto', sans-serif;
}
#pop_head_content {
  font-family: 'Roboto Condensed', sans-serif;
}
.egg {
  cursor: url('egg.png'), auto;	
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 3vh
}