.checkboxes img {
  width: 36px;
  height: 36px;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYbw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  background: rgb(60, 60, 60);
  background-repeat: repeat;
  background-size: cover;
  font-size: 36px;
  height: 100vh;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
.content {
  background:rgb(70, 70, 70);
  padding-bottom: 30px;
  display: inline-block;  
  width: 100%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.title {
  background: rgb(50, 50, 50);
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  padding-bottom: 20px;
}
.title img {
  height: 180px;
}
.download {
  background: -webkit-linear-gradient(rgb(255, 72, 0), rgb(202, 38, 150));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
.downloadwrapper {
  background:rgb(85, 85, 85);
  margin-top: 200px;
  padding-top: 20;
  padding-bottom: 20;
}
.links {
  background:rgb(70, 70, 70);
  font-size: 19px;
  text-align: right;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  padding-right: 20px;
  margin-top: 16px;
  padding-bottom: 16px;
}
.options {
  background:rgb(85, 85, 85);
  position: absolute;
  text-align: left;
  padding-left: 41%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 59%;
  height: 90px;
  left: 0;
  right: 0;
}
.credit {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  text-align: left;
  color: white;
}
.credit a {
  color: white;
}