@font-face {
  font-family: 'Minecrafter';
  src: URL('../resources/Minecrafter.Reg.ttf') format('truetype');
}
.checkboxes img {
  width: 36px;
  height: 36px;
}
body {
  background-image: url("../resources/bg.png");
  background-repeat: repeat-x;
  height: 100vh;
  background-size: cover;
  font-size: 36px;
  color: black;
  font-family: 'Minecrafter';
  text-align: center;
  animation: animation 4000s linear infinite; /*2000s per image*/
}
@keyframes animation {
  100%{
    background-position:-144000px 0px; /*-Background image width x 100*/
  }
}
/*^I am aware that code is a messy fix but s h u t*/
.content {
  background-image: url("../resources/bg2.jpg");
  background-repeat: repeat;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border: 20px solid white;
  display: inline-block;  
  width: 50%;
  height: 75%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.right {
  position: absolute;
  right: 0px;
  padding-right: 20px;
}
.credit {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  color: gray;
}
.credit a {
  color: gray;
}