.checkboxes img {
  width: 36px;
  height: 36px;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYbw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  background-image: url("../resources/bg.png");
  background-repeat: repeat;
  font-size: 36px;
  color: rgb(78, 78, 78);
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
.content {
  background-image: url("../resources/bg2.jpg");
  background-repeat: repeat;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  display: inline-block;  
  width: 50%;
  height: 75%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.gradient {
  background: -webkit-linear-gradient(rgb(255, 72, 0), rgb(202, 38, 150));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.right {
  position: absolute;
  right: 0px;
  padding-right: 20px;
}
.credit {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  color: grey;
}
.credit a {
  color: gray;
}