.checkboxes img {
  width: 3.7vh;
  height: 3.7vh;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYbw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  background: rgb(60, 60, 60);
  background-repeat: repeat;
  background-size: cover;
  font-size: 36px;
  height: 100vh;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
.content {
  padding-bottom: 3vh;
  display: inline-block;  
  width: 100vw;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.title {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  padding-bottom: 2vh;
}
.title img {
  height: 18vh;
}
.download {
  background: -webkit-linear-gradient(rgb(255, 72, 0), rgb(202, 38, 150));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 4vh;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
.downloadwrapper {
  margin-top: 22vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.links {
  font-size: 2vh;
  text-align: right;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  padding-right: 2vh;
  margin-top: 1.6vh;
  padding-bottom: 1.6vh;
}
.options {
  position: absolute;
  text-align: left;
  padding-left: 41vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 59vw;
  height: auto;
  left: 0;
  right: 0;
  font-size: 3.3vh;
}
.background {
  background:rgb(85, 85, 85);
  width: 20vw;
  margin-left: 40vw;
  height: 100vw;
  position: absolute;
}
.credit {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-left: 2vh;
  padding-bottom: 2vh;
  font-size: 1.5vh;
  text-align: left;
  color: white;
}
.credit a {
  color: white;
}
#pop_heading {
  font-family: 'Roboto', sans-serif;
}
#pop_head_content {
  font-family: 'Roboto Condensed', sans-serif;
}
.egg {
  cursor: url('egg.png'), auto;	
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 3vh
}